<p>Dear <%=recipientName%>,</p>
<p>Thank you for booking with us at SugarMaMa!  Your appointment has been confirmed and the details are below.</p>
<br/>
<div style="width: 50%; margin: 0 auto; padding: 10px; border: 3px solid #A7A881; border-radius: 4px; background-color: #FDF8E1;">
    <dl style="margin-left: 10px;">
        <dt style="color: rgb(103, 50, 11);"><strong>Date:</strong>
        <dd style="margin-bottom: 10px;"><%=apptDate%></dd>
        <dt style="color: rgb(103, 50, 11);"><strong>Time:</strong>
        <dd style="margin-bottom: 10px;"><%=startTime%> - <%=endTime%></dd>
        <dt style="color: rgb(103, 50, 11);"><strong>Location:</strong>
        <dd style="margin-bottom: 10px;"><%=location1%><br/><%=location2%></dd>
        <dt style="color: rgb(103, 50, 11);"><strong>Services:</strong>
        <dd style="margin-bottom: 10px;"><%=services%></dd>
        <dt style="color: rgb(103, 50, 11);"><strong>Esthetician:</strong>
        <dd><%=esthetician%></dd>
    </dl>
</div>
<br/>
<em>Please note: if you need to cancel or reschedule, please call us at 562.484.8653 at least <strong>24 hours before</strong> your appointment.</em> 
<br/>
<br/>
<br/>
We'll see you soon!<br/><br/>

SugarMaMa Skin - Sugar - Tan<br/>
<img height="65px" src="cid:symbol@sugarmamaskinsugartan.com">&nbsp;<img height="65px" src="cid:text@sugarmamaskinsugartan.com">